* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  margin: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 75px;
}

.color-container {
  width: 95%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.color {
  height: 300px;
  width: 250px;
  border: 2px solid black;
}

.color-card-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.lock-img {
  width: 50px;
  background-image: url('../assets/padlock-unlock.svg');
  background-repeat: no-repeat;
}

.generate-palette-btn {
  height: 75px;
  width: 350px;
  cursor: pointer;
  font-size: 22px;
}

.controls-container {
  width: 50%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select-folder {
  height: 35px;
  width: 150px;
  font-size: 18px;
}

.input-container,
.controls-btn-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.palette-name-input,
.project-name-input {
  height: 50px;
  width: 300px;
  padding-left: 10px;
  font-size: 18px;
  outline: none;
}

.save-palette-btn,
.save-project-btn {
  height: 50px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
}

hr {
  width: 95%;
}
