* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D6D2D2;
}

.page-title {
  margin: 0;
  color: #6369D1;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
}

.color-container {
  width: 95%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.color {
  height: 300px;
  width: 250px;
}

.color-card-content {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.color-value {
  color: #646165;
}

.lock-img {
  width: 35px;
}

.generate-palette-btn {
  height: 75px;
  width: 350px;
  background-color: #FFBA08;
  border: 2px solid #646165;
  border-radius: 37.5px;
  color: #646165;
  cursor: pointer;
  font-size: 40px;
  outline: none;
  font-family: 'Amatic SC', cursive;
}

.controls-container {
  width: 50%;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.select-folder {
  height: 35px;
  width: 150px;
  color: #6369D1;
  font-size: 18px;
  outline: none;
}

.input-container,
.controls-btn-container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.palette-name-input,
.project-name-input {
  height: 50px;
  width: 300px;
  padding-left: 10px;
  border: 2px solid #646165;
  border-radius: 5px;
  color: #646165;
  font-size: 18px;
  outline: none;
}

.save-palette-btn,
.save-project-btn {
  height: 50px;
  width: 150px;
  border: 2px solid #FFBA08;
  border-radius: 25px;
  color: #FFBA08;
  background-color: #646165;
  cursor: pointer;
  font-size: 18px;
}

hr {
  width: 95%;
}

.project-container {
  display: flex;
  justify-content: space-around;
  background-color: #646165;
  color: #D6D2D2;
  font-size: 25px;
}

.palette-details {
  display: flex;
  align-items: center;
}

.project-name {
  padding: 20px;
  background-color: #6369D1;
  border-radius: 5px;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
}

.palette-name {
  font-size: 25px;
  margin-right: 20px;
}

.small-color-block {
  height: 50px;
  width: 50px;
  /*border: 2px solid #FFBA08;*/
}

.trash-icon {
  width: 35px;
  margin-left: 20px;
}

.block1 {
  background-color: #913157;
}

.block2 {
  background-color: #4FCA09;
}

.block3 {
  background-color: #FE59C4;
}

.block4 {
  background-color: #FBD6DE;
}

.block5 {
  background-color: #24BAB7;
}

.block6 {
  background-color: #8B57AE;
}

.block7 {
  background-color: #249248;
}

.block8 {
  background-color: #105AAD;
}

.block9 {
  background-color: #50DD21;
}

.block10 {
  background-color: #10EED9;
}
